.cards{
    background: url("../images/bg-main-desktop.png");
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card__front{
    transform: translate(20%, 25%);
}

.card__logo{
    transform: translate(140%, -350%);   
}

.card__number{
    background: transparent;
    color: var(--white);
    font-size: 1.5rem;
    height: 2rem;
    outline: none;
    overflow: hidden;
    position: fixed;
    left: 9%;
    top: 32%;
    resize: none;
}

.card__name{
    background: transparent;
    color: var(--white);
    height: 1.1rem;
    position: fixed;
    left: 9%;
    top: 42%;
    outline: none;
    overflow: hidden;
    position: fixed;
    resize: none;
}

.card__date{
    align-items: center;
    color: var(--white);
    display: flex;
    position: fixed;
    left: 32%;
    top: 42%;
}

.card__month{
    background: transparent;
    height: 1.1rem;
    outline: none;
    overflow: hidden;
    resize: none;
    width: 1.5rem;
}
.card__year{
    background: transparent;
    height: 1.1rem;
    outline: none;
    overflow: hidden;
    resize: none;
    width: 1.5rem;
}

.card__back{
    transform: translate(50%, 15%);
}

.card__cvc{
    background: transparent;
    color: var(--white);
    height: 1.1rem;
    left: 43%;
    top: 71%;
    outline: none;
    overflow: hidden;
    position: fixed;
    resize: none;
    width: 2rem;
}

@media screen and (max-width: 768px){
    .cards{
        background: url("../images/bg-main-mobile.png");
        padding-top: 50%;
    }

    .card__front{
        left: -5%;
        top: 26%;
        position: absolute;
        width: 70%;
        z-index: 1;
    }

    .card__logo{
        position: absolute;
        top: 87%;
        left: -8%;
        width: 15%;
        z-index: 2; 
    }
    
    .card__number{
        font-size: 1.5rem;
        position: absolute;
        top: 75%;
        left: 13%;
        z-index: 2; 
    }
    
    .card__name{
        font-size: 1.5rem;
        height: 1.5rem;
        position: absolute;
        top: 85%;
        left: 13%;
        z-index: 2; 
    }
    
    .card__date{
        font-size: 1.5rem;
        position: absolute;
        top: 85%;
        left: 60%;
        z-index: 3;
    }

    .card__back{
        left: -12%;
        top: -1%;
        position: absolute;
        width: 70%;
        z-index: 0;
    }

    .card__month{
        height: 1.5rem;
        width: 2rem;
    }
    .card__year{
        height: 1.5rem;
        width: 2rem;
    }

    .card__cvc{
        font-size: 1.5rem;
        height: 1.5rem;
        left: 78%;
        top: 31.5%;
        position: absolute;
        z-index: 3;
        width: 3rem;
    }
}

@media screen and (max-width: 375px){
    .cards{
        background: url("../images/bg-main-mobile.png");
        padding-top: 50%;
    }

    .card__front{
        left: -5%;
        top: 12%;
        position: absolute;
        width: 70%;
        z-index: 1;
    }

    .card__logo{
        position: absolute;
        top: 42%;
        left: -8%;
        width: 15%;
        z-index: 2; 
    }
    
    .card__number{
        font-size: 1rem;
        position: absolute;
        top: 32%;
        left: 13%;
        z-index: 2; 
    }
    
    .card__name{
        font-size: 0.8rem;
        position: absolute;
        top: 39%;
        left: 13%;
        z-index: 2; 
    }
    
    .card__date{
        font-size: 0.8rem;
        position: absolute;
        top: 39%;
        left: 60%;
        z-index: 3;
    }

    .card__month{
        height: 1.1rem;
        width: 1.5rem;
    }
    .card__year{
        height: 1.1rem;
        width: 1.5rem;
    }

    .card__back{
        left: -12%;
        top: -1%;
        position: absolute;
        width: 70%;
        z-index: 0;
    }
    .card__cvc{
        font-size: 0.8rem;
        left: 75%;
        top: 14.5%;
        position: absolute;
        z-index: 3;
    }
}


